@charset "utf-8";
h1{
	font-size: 30px;
}
h2{
	font-size: 25px;
}
header{
	background-color: #000;
	color: #FFF;
	padding: 20px;
}
.wrap{
	position: relative;
}
.container{
	height: 300px;
	text-align: center;
}
footer{
	background-color: #000;
	color: #FFF;
	text-align: center;
	padding: 20px;
}
img{
	width: 100px;
}
.copyright{
	font-size: 50%;
}
